<div th:fragment="usermenu" th:remove="tag">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-1">
        <a class="navbar-brand" href="#">PRODUCT MANAGEMENT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link btn btn-outline-info btn-sm m-1" href="#">
                        Home <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item dropdown" th:if="${session.isAdmin}">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        User
                    </a>
                    <div class="dropdown-menu bg-success" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/userinfo/register}">Register</a>
                        <a class="dropdown-item" th:href="@{/userinfo/all}">All Data</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/userinfo/chart}">Chart</a>
                    </div>
                </li>
                <!--USER Closed-->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mus
                    </a>
                    <div class="dropdown-menu bg-warning" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/mus/register}">Register</a>
                        <a class="dropdown-item" th:href="@{/mus/all}">All Data</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/mus/chart}">Chart</a>
                    </div>
                </li>
                <!--MUS Closed-->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Shipment Type
                    </a>
                    <div class="dropdown-menu bg-danger" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/st/register}">Register</a>
                        <a class="dropdown-item" th:href="@{/st/all}">All Data</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/st/chart}">Chart</a>
                    </div>
                </li>
                <!--ST Closed-->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Order Method
                    </a>
                    <div class="dropdown-menu bg-secondary" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/om/register}">Register</a>
                        <a class="dropdown-item" th:href="@{/om/all}">All Data</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/om/chart}">Chart</a>
                    </div>
                </li>
                <!--OM Closed-->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Part
                    </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/part/register}">Register</a>
                        <a class="dropdown-item" th:href="@{/part/all}">All Data</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Chart</a>
                    </div>
                </li>
                <!--Part Closed-->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Product User
                    </a>
                    <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/pu/register}">Register</a>
                        <a class="dropdown-item" th:href="@{/pu/all}">All Data</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/pu/chart}">Chart</a>
                    </div>
                </li>
                <!--PU Closed-->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Purchase Order
                    </a>
                    <div class="dropdown-menu bg-info" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/po/register}">Register</a>
                        <a class="dropdown-item" th:href="@{/po/all}">All Data</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/po/chart}">Chart</a>
                    </div>
                </li>
                <!--PO Closed-->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sale Order
                    </a>
                    <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/so/register}">Register</a>
                        <a class="dropdown-item" th:href="@{/so/all}">All Data</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/so/chart}">Chart</a>
                    </div>
                </li>
                <!--SO Closed-->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        DNP
                    </a>
                    <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/dnp/register}">Register</a>
                        <a class="dropdown-item" th:href="@{/dnp/all}">All Data</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/dnp/chart}">Chart</a>
                    </div>
                </li>
                <!--DNP Closed-->

                <li class="nav-item">
                    <a class="btn btn-outline-secondary  btn-sm text-white m-1" th:href="@{/analytics/}">Analytics</a>
                </li>
                <!--  Analytics Btn Closed   -->

                <li class="nav-item">
                    <a class="btn btn-outline-warning btn-sm text-white m-1" th:href="@{/logout}">Logout</a>
                </li>
                <!--  Logout Btn Closed   -->

                <li>
                    <h5 class="text-secondary text-right m-1">
                        &#10645 <span class="text-warning" th:text="${session.currentUser.name}"></span> &#10646
                    </h5>
                </li>
                <!--  Username  Closed   -->

            </ul>
        </div>
    </nav>
</div>