<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Analytics Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{favicon/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{favicon/favicon-16x16.png}">
    <link rel="manifest" th:href="@{favicon/site.webmanifest}">
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div class="container-fluid" style="max-height:100vh;">
    <div class="card">
        <div class="card-header bg-dark text-secondary text-center py-3">
            <h3>
                <i class="fa-solid fa-truck-fast fa-2xl fa-flip"></i>
                LOGISTICS INVENTORY MANAGEMENT ANALYTICS
                <i class="fa-solid fa-chart-pie fa-2xl"></i>
            </h3>
        </div>
        <!--Card Header Closed-->
        <div class="card-body">
            <div class="container-fluid">

                <div class="row  bg-dark text-secondary mb-2">

                    <div class="col-4" style="max-height:40vh; overflow-y: scroll;">
                        <div class="bg-info text-white p-2" style="position:sticky; top: 0; border:  1px solid;">
                        <span class="h4">
                          <i class="fa-regular fa-face-laugh-wink fa-lg fa-beat"></i>
                            Accomplicements
                        </span>
                        </div>
                        <div class="p-3">
                            <ul class="h6 py-2">
                                <li>
                                    Visitors :: <span th:text="${count}"></span>
                                </li>
                                <li>
                                    Github Repository Cloned 60+ Weekly
                                </li>
                                <li>
                                    250+ Hours Of Coding
                                </li>
                                <li>
                                    300+ Commits
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-4" style="max-height:40vh; overflow-y: scroll;">
                        <div class="bg-info text-white p-2" style="position:sticky; top: 0; border:  1px solid;">
                        <span class="h4">
                            <i class="fa-solid fa-chart-simple fa-lg fa-beat"></i>
                            Visualization
                        </span>
                        </div>

                        <div class="p-3">
                            <img th:src="@{charts/pie.png}" alt="pie_img" class="img-fluid img-thumbnail " height="200"
                                 width="200"/>
                            <img th:src="@{charts/bar.png}" alt="bar_img" class="img-fluid img-thumbnail" height="200"
                                 width="200"/>
                        </div>
                    </div>

                    <div class="col-4" style="height:40vh; overflow-y:scroll">
                        <div class="bg-info text-white p-2" style="position:sticky; top: 0; border:  1px solid;">
                        <span class="h4">
                           <i class="fa-solid fa-eye-low-vision fa-beat fa-lg"></i>
                            Recent Visitors
                        </span>

                            <button class="btn btn-outline-light btn-sm" disabled>
                                <i class="fa-solid fa-flag fa-sm"></i>
                                <span th:text="${count}"></span>
                            </button>

                            <a class="btn btn-outline-danger btn-sm" th:href="@{/pdf}">
                                <i class="fa-regular fa-file-pdf fa-lg fa-bounce"></i>
                            </a>

                        </div>
                        <div th:each="ob:${list}" class="text-warning">
                            <h4 th:text="${ob.ipAddress}" class="text-dark font-italic"></h4>
                            <span class="text-white"> Country : </span><span th:text="${ob.locale.country}"></span>
                            <span class="text-white"> Code: </span> <span th:text="${ob.locale.countryCode}"></span>
                            <span class="text-white"> Region : </span><span th:text="${ob.locale.state}"></span>
                            <span class="text-white"> City : </span> <span th:text="${ob.locale.city}"></span>
                            <span class="text-white"> ISP : </span> <span th:text="${ob.locale.as}"></span>
                            <span class="text-white"> Zip : </span> <span th:text="${ob.locale.zip}"></span>
                            <span class="text-white"> Longitude : </span><span th:text="${ob.locale.longitude}"></span>
                            <span class="text-white"> Latitude : </span> <span th:text="${ob.locale.latitude}"></span>
                            <span class="text-white"> Timezone : </span> <span th:text="${ob.locale.timezone}"></span>
                            <span class="text-white"> Timestamp : </span><span th:text="${ob.locale.timestamp}"></span>
                            <hr/>
                        </div>
                    </div>
                    <!--Achievment & Visitors Closed-->
                </div>
                <!-- Row closed -->
                <div class="row  bg-dark text-secondary mb-2">

                    <div class="col-4" style="max-height:40vh; overflow-y: scroll;">
                        <div class="bg-warning text-dark p-2" style="position:sticky; top: 0; border:  1px solid;">
                        <span class="h4">
                         <i class="fa-brands fa-fedora fa-xl fa-beat"></i>
                          HyperLinks
                        </span>
                        </div>

                        <div class="p-3">
                            <h4>
                                HOSTING <i class="fa-solid fa-passport fa-bounce"></i> ::
                                <a href="https://ishopee.up.railway.app/st/all">
                                    <i class="fa-solid fa-up-right-from-square fa-beat-fade text-info"></i>
                                </a>
                            </h4>

                            <h4>
                                SWAGGER UI <i class="fa-brands fa-simplybuilt fa-flip fa-lg"></i> ::
                                <a href="#">
                                    <i class="fa-solid fa-up-right-from-square fa-beat-fade text-info"></i>
                                </a>
                            </h4>

                            <h4>
                                SOURCE CODE <i class="fa-brands fa-github-alt fa-shake fa-xl"></i> ::
                                <a href="https://github.com/Me-Jitesh/LogisticsInventoryManagement">
                                    <i class="fa-solid fa-up-right-from-square fa-beat-fade text-info"></i>
                                </a>
                            </h4>

                            <h4>
                                WAKATIME INSIGTS <i class="fa-brands fa-codepen fa-spin-pulse fa-lg"></i> ::
                                <a href="https://wakatime.com/@Er_Jrsingh/projects/mudzizdyvb">
                                    <i class="fa-solid fa-up-right-from-square fa-beat-fade text-info"></i>
                                </a>
                            </h4>

                        </div>
                    </div>
                    <!--  Hyperlinks closed-->

                    <div class="col-8" style="max-height:40vh; overflow-y: scroll;">
                        <div class="bg-warning text-dark p-2" style="position:sticky; top: 0; border:  1px solid;">
                        <span class="h4">
                            <i class="fa-solid fa-school fa-beat"></i>
                           Learnings
                        </span>
                        </div>

                        <div class="p-3">
                            <ul class="list-group">
                                <li><b>Monolithic Architecture</b></li>
                                <li><b>Spring Security</b></li>
                                <li>Unit Testing Using <b>JUnit & Mockito</b></li>
                                <li>Get <i> IP GeoLocation Details</i> using <b> MaxMind GeoLite2 & IP2Location</b></li>
                                <li>Display Graphical Chart Using <b>JFreeChart</b></li>
                                <li>Export Pdf Using <b>AbstractPdfView</b></li>
                                <li>Spring Data JPA</li>
                                <li>MariaDB & PostgreSQL</li>
                                <li>Thymeleaf,Bootstrap</li>
                                <li>Learned <b>Column Embedding</b></li>
                                <li>Sort Data Using <b>Named Query</b></li>
                                <li>Export Pdf Using <b>OpenPDF</b></li>
                                <li>Export Excel Using <b>Apache POI</b></li>
                                <li>Export XML Using <b>JAXB</b></li>
                                <li>Export CSV Using <b> Apache Comman CSV</b></li>
                                <li>Export <b>Text File</b></li>
                                <li>Validation Using <b>JQuery,Ajax,RegEx</b></li>
                                <li>Export Pdf Using <b>iTEXT 7</b></li>
                                <li>Export CSV Using <b>Super CSV</b></li>
                                <li>Export JSON Using <b>GSON</b></li>
                                <li>Association Mapping <b>ManyToOne, ManyToMany</b></li>
                                <li>Dyanamic Select Box</li>
                                <li>Entity Level Constraints</li>
                                <li>Complex UI Integration</li>
                                <li>Invoice Generation</li>
                                <li>Docker</li>
                            </ul>
                        </div>
                    </div>
                    <!--  Learnings closed-->
                </div>
                <!--    Row 2 Closed  -->
            </div>
            <!--Wrapper Closed-->

        </div>
        <!--Card Body Closed-->
        <div class="card-footer text-center bg-success text-white" th:if="${message != null}">
            <span th:text="${message}"></span>
        </div>
        <!--Card Footer Closed-->
    </div>
    <!--Card Closed-->
</div>
<!--Container Closed-->
</body>
</html>