<!DOCTYPE html >

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/CommonHead::userheadWithotLink(~{::title})">
    <title>update password</title>
</head>

<body>

<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-secondary text-dark text-center">
            <h3>UPDATE PASSWORD</h3>
        </div>
        <div class="card-body bg-dark text-secondary">
            <form id="customPwdForm" method="post" th:action="@{/userinfo/saveCustomPwd}">
                <div class="row text-center my-5">
                    <div class="col-4">
                        <label for="password" class="h3">ENTER NEW PASSWORD :: </label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" id="password" name="password" type="password" required/>
                    </div>
                    <div class="col-4">
                        <span id="passwordError"></span>
                    </div>
                </div>
                <!--Row #1 end-->
                <div class="row text-center">
                    <div class="col-4">
                        <label for="rePassword" class="h3">RE-ENTER PASSWORD :: </label>
                    </div>
                    <div class="col-4 my-2">
                        <input class="form-control" id="rePassword" name="rePassword" type="password" required/>
                    </div>
                    <div class="col-4 my-2">
                        <span id="rePasswordError"></span>
                    </div>
                </div>
                <!--Row#2 end-->
                <div class="row">
                    <button class="btn btn-warning mx-auto px-5 my-5" type="submit">UPDATE PASSWORD</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/js/custompassword.js}" type="text/javascript"></script>
</body>
</html>