<!DOCTYPE html>
<html lang="en" th:xmlns="www.thymeleaf.org">
<head th:replace="fragments/CommonHead::userhead(~{::title},~{::link})">
    <title>Dnp Data</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>
<body>

<div th:replace="fragments/CommonNav::usermenu"></div>

<div class="container">
    <div class="card">
        <div class="card-header bg-info text-center text-light">
            <h3>DNP DATA</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <tr class="bg-secondary text-white">
                    <th>ID</th>
                    <th>CODE</th>
                    <th>TYPE</th>
                    <th>PO</th>
                    <th>DESCRIPTION</th>
                    <th>OPERATIONS</th>
                </tr>
                <tr th:each="ob:${dnps}">
                    <td th:text="${ob.id}"></td>
                    <td th:text="${ob.dnpCode}"></td>
                    <td th:text="${ob.dnpType}"></td>
                    <td th:text="${ob.po.orderCode}"></td>
                    <td th:text="${ob.dnpDesc}"></td>
                    <td>
                        <a class="btn btn-outline-warning btn-sm px-4" th:href="@{/dnp/parts(dnpId=${ob.getId()})}">Parts</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="card-footer text-center" th:if="${message} != null">
            <span class="text-success" th:text="${message}"></span>
        </div>
    </div>
</div>
<div th:replace="fragments/CommonFooter::userFooter"></div>
</body>
</html>