<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/CommonHead::userheadWithotLink(~{::title})">
    <title>Order Method Edit</title>
</head>

<body>

<div th:replace="fragments/CommonNav::usermenu"></div>

<div class="container">

    <div class="card">
        <div class="card-header bg-primary text-white text-center">
            <h3>ORDER METHOD REGISTER PAGE</h3>
        </div>

        <div class="card-body">

            <form id="OrderMethodForm" method="post" th:action="@{/om/update}" th:object="${orderMethod}">

                <div class="row">
                    <div class="col-3">
                        <label>ORDER ID</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" id="id" readonly th:field="*{id}" type="text"/>
                    </div>
                </div>

                <!--Row #0 end-->

                <div class="row">
                    <div class="col-3">
                        <label>ORDER MODE</label>
                    </div>
                    <div class="col-4">
                        <input th:field="*{orderMode}" type="radio" value="Sale"/>Sale
                        <input th:field="*{orderMode}" type="radio" value="Purchase"/>Purchase
                    </div>
                    <div class="col-5">
                        <span id="orderModeError"></span>
                    </div>
                </div>

                <!--Row #1 end-->

                <div class="row">
                    <div class="col-3">
                        <label for="orderCode">ORDER CODE</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" id="orderCode" th:field="*{orderCode}" type="text"/>
                    </div>
                    <div class="col-5">
                        <span id="orderCodeError"></span>
                    </div>
                </div>

                <!--Row #2-->

                <div class="row">
                    <div class="col-3">
                        <label>ORDER TYPE</label>
                    </div>
                    <div class="col-4">
                        <select class="form-control" th:field="*{orderType}">
                            <option value="">--SELECT--</option>
                            <option value="FIFO">FIFO</option>
                            <option value="LIFO">LIFO</option>
                            <option value="FCFO">FCFO</option>
                            <option value="FEFO">FEFO</option>
                        </select>
                    </div>
                    <div class="col-5">
                        <span id="orderTypeError"></span>
                    </div>
                </div>

                <!--Row#3 end-->

                <div class="row">
                    <div class="col-3">
                        <label>ORDER ACCEPT</label>
                    </div>
                    <div class="col-4">
                        <input th:field="*{orderAcpt}" type="checkbox" value="Multi-Mode"/>Multi-Mode
                        <input th:field="*{orderAcpt}" type="checkbox" value="Accept Return"/>Accept Return
                    </div>
                    <div class="col-5">
                        <span id="orderAcptError"></span>
                    </div>
                </div>

                <!--Row#4 end-->

                <div class="row">
                    <div class="col-3">
                        <label for="orderNote">ORDER NOTE</label>
                    </div>
                    <div class="col-4">
                        <textarea class="form-control" id="orderNote" th:field="*{orderNote}"></textarea>
                    </div>
                    <div class="col-5">
                        <span id="orderNoteError"></span>
                    </div>
                </div>

                <!--row #5 end-->

                <input class="btn btn-success" type="submit" value="UPDATE"/>

            </form>

        </div>
        <div class="card-footer text-center bg-success text-white" th:if="${message != null}">
            <span th:text="${message}"></span>
        </div>
    </div>
</div>
<div th:replace="fragments/CommonFooter::userFooter"></div>
<script th:src="@{/js/orderMethod.js}" type="text/javascript"></script>
</body>
</html>