<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ProductUser Edit</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>

<body>

<div class="container">
    <div class="card">

        <div class="card-header bg-primary text-white text-center">
            <h3>PRODUCT USER TYPE EDIT PAGE</h3>
        </div>

        <div class="card-body">

            <form id="OrderMethodForm" method="post" th:action="@{/pu/update}" th:object="${productUserType}">

                <div class="row">
                    <div class="col-3">
                        <label for="id">ORDER ID</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" id="id" type="text" th:field="*{id}" readonly/>
                    </div>
                </div>

                <!--Row #0 end-->

                <div class="row">
                    <div class="col-3">
                        <label>USER TYPE</label>
                    </div>

                    <div class="col-4">
                        <input id="userType1" type="radio" value="Vendor" th:field="*{userType}"/>Vendor
                        <input id="userType2" type="radio" value="Customer" th:field="*{userType}"/>Customer
                    </div>

                    <div class="col-5">
                        <span id="userTypeError"></span>
                    </div>
                </div>

                <!--Row #1 end-->

                <div class="row">
                    <div class="col-3">
                        <label for="userCode">USER CODE</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" id="userCode" type="text" th:field="*{userCode}"/>
                    </div>
                    <div class="col-5">
                        <span id="userCodeError"></span>
                    </div>
                </div>

                <!--Row #2-->

                <div class="row">
                    <div class="col-3">
                        <label for="userCode">USER FOR</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" id="userFor" type="text" th:field="*{userFor}" readonly/>
                    </div>
                    <div class="col-5">
                        <span id="userForError"></span>
                    </div>
                </div>

                <!--Row #3-->

                <div class="row">
                    <div class="col-3">
                        <label for="userCode">USER EMAIL</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" id="userEmail" th:field="*{userEmail}" type="text"/>
                    </div>
                    <div class="col-5">
                        <span id="userEmailError"></span>
                    </div>
                </div>

                <!--Row #4-->

                <div class="row">
                    <div class="col-3">
                        <label for="userCode">USER CONTACT</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" id="userContact" th:field="*{userContact}" type="text"/>
                    </div>
                    <div class="col-5">
                        <span id="userContactError"></span>
                    </div>
                </div>

                <!--Row #5-->

                <div class="row">

                    <div class="col-3">
                        <label for="userIdType">USER ID TYPE</label>
                    </div>
                    <div class="col-4">
                        <select class="form-control" id="userIdType" th:field="*{userIdType}">
                            <option value="">--SELECT--</option>
                            <option value="PAN CARD">PAN CARD</option>
                            <option value="AADHAR CARD">AADHAR CARD</option>
                            <option value="VOTER ID">VOTER ID</option>
                            <option value="OTHER">OTHER</option>
                        </select>
                    </div>
                    <div class="col-5">
                        <span id="userIdTypeError"></span>
                    </div>
                </div>

                <!--Row#6 end-->

                <div class="row">
                    <div class="col-3">
                        <label for="ifOther">IF OTHER</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" id="ifOther" type="text" th:field="*{ifOther}"/>
                    </div>
                    <div class="col-5">
                        <span id="ifOtherError"></span>
                    </div>
                </div>

                <!--Row #7-->

                <div class="row">
                    <div class="col-3">
                        <label for="userIdNumber">ID NUMBER</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" id="userIdNumber" type="text" th:field="*{userIdNumber}"/>
                    </div>
                    <div class="col-5">
                        <span id="userIdNumberError"></span>
                    </div>
                </div>

                <!--Row #8-->

                <input class="btn btn-outline-success" type="submit" value="ADD PRODUCT USER"/>
            </form>
        </div>

        <div class="card-footer text-center bg-success text-white" th:if="${message != null}">
            <span th:text="${message}"></span>
        </div>
    </div>
</div>
<script th:src="@{/js/productUser.js}" type="text/javascript"></script>
</body>
</html>