<!DOCTYPE html>
<html lang="en" th:xmlns="www.thymeleaf.org">
<head th:replace="fragments/CommonHead::userhead(~{::title},~{::link})">
    <title>ProductUser Chart</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>

<div th:replace="fragments/CommonNav::usermenu"></div>

<div class="container">
    <div class="card">
        <div class="card-header bg-secondary text-center text-dark">
            <h3>
                PRODUCT USER CHART
                <i class="fa-solid fa-chart-column"></i>
            </h3>
        </div>
        <div class="card-body">
            <img th:src="@{/charts/prdUsrPie.jpeg}" alt="pie_chart"/>
            <img th:src="@{/charts/prdUsrBar.jpeg}" alt="bar_chart"/>
        </div>
    </div>
</div>
<div th:replace="fragments/CommonFooter::userFooter"></div>
</body>
</html>