<!DOCTYPE html>
<html lang="en" th:xmlns="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Shipment Type Data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-header bg-info text-center text-light">
            <h3>SHIPMENT TYPE DATA</h3>
        </div>
        <div class="card-body">
            <div class="text-right mb-2">
                <a class="btn btn-outline-success" th:href="@{/st/excel}">EXCEL <i class="fa-regular fa-file-excel"></i></a>
                <a class="btn btn-outline-danger" th:href="@{/st/pdf}">PDF <i class="fa-regular  fa-file-pdf"></i></a>
                <a class="btn btn-outline-success" th:href="@{/st/csv}">CSV <i class="fa-solid  fa-file-csv"></i></a>
                <a class="btn btn-outline-dark" th:href="@{/st/json}">JSON <i class="fa-regular  fa-file-code"></i></a>
                <a class="btn btn-outline-primary" th:href="@{/st/text}">TEXT <i class="fa-regular  fa-file-text"></i></a>
            </div>
            <table class="table table-hover">
                <tr class="bg-secondary text-white">
                    <th>ID</th>
                    <th>MODE</th>
                    <th>CODE</th>
                    <th>ENABLED</th>
                    <th>GRADE</th>
                    <th>DESCRIPTION</th>
                    <th>OPERATIONS</th>
                </tr>
                <tr th:each="ob:${list}">
                    <td th:text="${ob.getId()}"></td>
                    <td th:text="${ob.getShipMode()}"></td>
                    <td th:text="${ob.getShipCode()}"></td>
                    <td th:text="${ob.getEnableShip}"></td>
                    <td th:text="${ob.getShipGrad()}"></td>
                    <td th:text="${ob.getShipDesc()}"></td>
                    <td>
                        <!-- Url Rewriting-->
                        <a class="btn btn-outline-danger" th:href="@{/st/delete(id=${ob.getId()})}"><i class="fa-solid fa-trash-can"></i></a> |
                        <a class="btn btn-outline-warning" th:href="@{/st/edit(id=${ob.getId()})}"><i class="fa-solid fa-pen-fancy"></i></a> |
                        <a class="btn btn-outline-success" th:href="@{/st/excelone(id=${ob.getId()})}"><i class="fa-solid fa-file-excel"></i></a> |
                        <a class="btn btn-outline-danger" th:href="@{/st/pdfone(id=${ob.getId()})}"><i class="fa-solid fa-file-pdf"></i></a> |
                        <a class="btn btn-outline-dark" th:href="@{/st/jsonone(id=${ob.getId()})}"><i class="fa-solid fa-file-code"></i></a>  |
                        <a class="btn btn-outline-success" th:href="@{/st/csvone(id=${ob.getId()})}"><i class="fa-solid fa-file-csv"></i></a> |
                        <a class="btn btn-outline-primary" th:href="@{/st/textone(id=${ob.getId()})}"><i class="fa-solid fa-file-text"></i></a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="card-footer text-center" th:if="${message} != null">
            <span class="text-success" th:text="${message}"></span>
        </div>
    </div>
</div>
</body>
</html>