<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Shipment Type Edit Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>

<body>

<div class="container">
    <div class="card">
        <div class="card-header bg-primary text-white text-center">
            <h3>SHIPMENT TYPE EDIT PAGE!!</h3>
        </div>
        <div class="card-body">
            <!-- th:object for  Bi-Directional Mapping  -->
            <form id="shipmentTypeForm" method="post" th:action="@{/st/update}" th:object="${shipmentType}">
                <div class="row">
                    <div class="col-3">
                        <label for="id">ID</label>
                    </div>
                    <div class="col-4">
                        <!-- * for mapping with variable  -->
                        <!--  th:field="*{}"  generates name, id, value, checked  attributes internally -->
                        <input class="form-control" id="id" readonly th:field="*{id}" type="text"/>
                    </div>
                </div>
                <!--  Row #0 end -->
                <div class="row">
                    <div class="col-3">
                        <label for="shipMode">Shipment Mode</label>
                    </div>
                    <div class="col-4">
                        <select class="form-control" id="shipMode" th:field="*{shipMode}">
                            <option value="">-SELECT-</option>
                            <option value="Air">Air</option>
                            <option value="Truck">Truck</option>
                            <option value="Ship">Ship</option>
                            <option value="Train">Train</option>
                        </select>
                    </div>
                    <div class="col-5">
                        <span id="shipModeError"></span>
                    </div>
                </div>
                <!--Row #1 end-->
                <div class="row">
                    <div class="col-3">
                        <label for="shipCode">Shipment Code</label>
                    </div>
                    <div class="col-4">
                        <!--  Output = <input class="form-control" id="shipCode" name="shipCode" type="text" value="Air India"> -->
                        <input class="form-control" id="shipCode" th:field="*{shipCode}" type="text"/>
                    </div>
                    <div class="col-5">
                        <span id="shipCodeError"></span>
                    </div>
                </div>
                <!--Row #2-->
                <div class="row">
                    <div class="col-3">
                        <label>Enable Shipment</label>
                    </div>
                    <div class="col-4">
                        <!-- Output = <input type="radio" value="Yes" id="enableShip1" name="enableShip" checked="checked">-->
                        <input th:field="*{enableShip}" type="radio" value="Yes"/>Yes
                        <!-- <input type="radio" value="No" id="enableShip2" name="enableShip">-->
                        <input th:field="*{enableShip}" type="radio" value="No"/>No
                    </div>
                    <div class="col-5">
                        <span id="enableShipError"></span>
                    </div>
                </div>
                <!--Row#3 end-->
                <div class="row">
                    <div class="col-3">
                        <label>Shipment Gread</label>
                    </div>
                    <div class="col-4">
                        <input th:field="*{shipGrad}" type="radio" value="A"/>A
                        <input th:field="*{shipGrad}" type="radio" value="B"/>B
                        <input th:field="*{shipGrad}" type="radio" value="C"/>C
                    </div>
                    <div class="col-5">
                        <span id="shipGradError"></span>
                    </div>
                </div>
                <!--Row#4 end-->
                <div class="row">
                    <div class="col-3">
                        <label for="shipDesc">Description</label>
                    </div>
                    <div class="col-4">
                        <textarea class="form-control" id="shipDesc" th:field="*{shipDesc}"></textarea>
                    </div>
                    <div class="col-5">
                        <span id="shipDescError"></span>
                    </div>
                </div>
                <!--row #5 end-->
                <input class="btn btn-success" type="submit" value="Update"/>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/js/shipment.js}" type="text/javascript"></script>
</body>
</html>