<!DOCTYPE html >

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/CommonHead::userheadWithotLink(~{::title})">
    <title>Login</title>
</head>

<body>

<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-secondary text-dark text-center">
            <h3>LOGIN HERE !</h3>
        </div>
        <div class="card-body bg-dark text-secondary">
            <form id="userLoginForm" method="post" th:action="@{/login}">
                <div class="row text-center my-5">
                    <div class="col-4">
                        <label for="username" class="h3">EMAIL</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" id="username" name="username" type="email" required/>
                    </div>
                    <div class="col-4">
                        <span id="emailError"></span>
                    </div>
                </div>
                <!--Row #1 end-->
                <div class="row text-center">
                    <div class="col-4">
                        <label for="password" class="h3 ml-5">PASSWORD</label>
                    </div>
                    <div class="col-4 my-2">
                        <input class="form-control" id="password" name="password" type="password" required/>
                    </div>
                    <div class="col-4 my-2">
                        <span id="passwordpError"></span>
                    </div>
                </div>
                <!--Row#2 end-->
                <div class="row">
                    <button class="btn btn-warning mx-auto px-5 my-5 text-white" type="submit">LOGIN</button>
                </div>
            </form>
            <div class="p-2">
                <a th:href="@{/userinfo/resetPwd}" class="text-info m-4 h5">Forgot Password ??</a>
                <br/><br/>
                <a th:href="@{/userinfo/activation}" class="text-secondary m-4 h5">User Activation OTP ?</a>
            </div>

            <div class="row">
                <h6 class="mx-auto">
                    <span class="text-white">EMAIL</span> : <span class="text-warning"> admin@ishopee.in </span> |
                    <span class="text-white">PASSWORD</span> : <span class="text-warning"> admin@00</span>
                </h6>
            </div>
        </div>
        <div class="card-footer text-center bg-secondary">
            <span th:if="${param.invalidCredentials}" class="text-danger h3"> Ooooppps... Invalid Credentials !</span>
            <span th:if="${param.logout}" class="text-success h3"> Logout Success !</span>
            <span th:if="${param.error}" class="text-danger h3"> Ooooo Something Went Wrong !</span>
            <span th:if="${param.denied}" class="text-warning h3"> Access Denied ! Sorry Not Authorized</span>
        </div>
    </div>
</div>

<script th:src="@{/js/userlogin.js}" type="text/javascript"></script>
</body>
</html>