<!DOCTYPE html >

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/CommonHead::userheadWithotLink(~{::title})">
    <title>Login</title>
</head>

<body>

<div class="container">
    <div class="card">
        <div class="card-header bg-danger text-white text-center">
            <h3>USER LOGIN PAGE</h3>
        </div>
        <div class="card-body">
            <form id="userLoginForm" method="post" th:action="@{/login}">
                <div class="row">
                    <div class="col-3">
                        <label for="username">EMAIL</label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" id="username" name="username" type="email" required/>
                    </div>
                    <div class="col-5">
                        <span id="emailError"></span>
                    </div>
                </div>
                <!--Row #1 end-->
                <div class="row">
                    <div class="col-3">
                        <label for="password">PASSWORD</label>
                    </div>
                    <div class="col-4 my-2">
                        <input class="form-control" id="password" name="password" type="password" required/>
                    </div>
                    <div class="col-5 my-2">
                        <span id="passwordpError"></span>
                    </div>
                </div>
                <!--Row#2 end-->
                <div class="row">
                    <button class="btn btn-danger px-5" type="submit">LOGIN</button>
                </div>
            </form>
            <div class="row">
                <a th:href="@{/userinfo/resetPwd}" class="text-primary m-4">Forgot Password ?</a>
            </div>
        </div>
        <div class="card-footer text-center">
            <span th:if="${param.invalidCredentials}" class="text-danger"> Oooooooppps.. Invalid Credentials !</span>
            <span th:if="${param.logout}" class="text-success"> Logout Success !</span>
            <span th:if="${param.error}" class="text-danger"> Ooooo Something Went Wrong !</span>
            <span th:if="${param.denied}" class="text-warning"> Access Denied ! Sorry Not Authorized</span>
        </div>
    </div>
</div>

<script th:src="@{/js/userlogin.js}" type="text/javascript"></script>
</body>
</html>